---
import type { ButtonProps as Props } from "@types";
import { twMerge, twSort } from "@bpm/custom-merge";

const { class: classes, label, id, name = id, type, palette = "action", ...props } = Astro.props;

const baseStyles = twSort("button border-2 px-7 py-4 text-sm active:ring-2");

const paletteStyles = {
  action: twSort("text-theme-action hover:bg-theme-action/10 hover:text-theme-action border-current active:ring-current"),
  bold: twSort("text-theme-foreground-bold hover:bg-theme-foreground-bold/10 hover:text-theme-foreground-bold border-current active:ring-current")
};

const finalStyles = twMerge(baseStyles, paletteStyles[palette], classes);
---

{
  type == "anchor" ? (
    <a class={finalStyles} {...props}>
      <slot name="prefix" />
      <span class="font-title">{label}</span>
      <slot name="suffix" />
    </a>
  ) : (
    <button class={finalStyles} name={name || id} id={id} type={type} {...props}>
      <slot name="prefix" />
      <span class="font-title">{label}</span>
      <slot name="suffix" />
    </button>
  )
}
